*{
	font-weight: 300;
}


.selst-content {
	width: 80%;
    margin: 60px auto;
}
.impo {
	color: red;
}

.syntaxhighlighter {
	padding-top: 10px;
}

.selst-content-list img {
	width: 80%;
	margin-top: 10px;
	margin-bottom: 10px;
}

.selst-content-list{
	margin-top: 40px;
}

h5 {
	font-weight: bold;
}
