*{
	font-weight: 300;
}


.selst-content {
	width: 80%;
    margin: 60px auto;
}
.impo {
	color: red;
}

.syntaxhighlighter {
	padding-top: 10px;
}

.selst-content-list img {
	width: 90%;
	display: block;
	margin: 0 auto;
	margin-top: 10px;
	margin-bottom: 10px;
}

.selst-content-list{
	margin-top: 40px;
}

h5 {
	font-weight: bold;
}


@media screen and (max-width: 992px) {
	.selst-content {
		width: 92%;
	}
}
