*{
	-webkit-box-sizing: border-box;
     -moz-box-sizing: border-box;
          box-sizing: border-box;

	font-family: 'Hind', sans-serif;

}

/* Totl body */
body{
	width: 100%;
	height: 100vh;
	margin: 0;
}

.container {
	margin: 0 auto;
	width: 100%;
	height: 100vh;
	padding: 0;
}

/*mini-side-bar*/
.mini-side-bar {
	display: none;
	transition: 0.5s;
}
#menu-icon {
	display: none;
	width:32px;
	height:32px;
}
#menu-icon img {
	width:100%;
}
#mini-name {
	position: absolute;
	color: white;
	left: 40%;
	top: 15%;
	color:white;
	font-weight: bold;
	/*margin: 0 auto;*/
}

/* Side bar */
.side-bar {
	width: 240px;
	height: 100vh;
	overflow: hidden;
	color: white;
	background-color: #ffffff;
	float: left;
	padding: 10px 20px 10px 30px;
	position:fixed;
	transition: 0.5s;
}


/*#menu-icon.side-bar-out {
	top:10px;
	left:20px;
}*/
#logo {
	padding-top:15px;
}
#logo, #logo img {
	width: 180px;
	/*height: 230px;*/
	/*background-color: pink;*/
}

#nav {
	width:100%;
	/*height: 305px;*/
	padding-top: 20%;
	font-size: 14px;
}

#nav div {
	border: solid 1px #ffffff;
	border-top-color: #ddd;
	padding: 10px 0;
	/*width:80%;*/
}

#nav div a {
	text-decoration: none;
	color: gray;
}

#nav div a:hover{
	cursor: pointer;
	color: #f54e4e;
}

#nav #contact {
	border-bottom-color: #ddd;
}

.side-bar-footer {
	position: absolute;
	bottom: 0;
	left: 30px;
	width: 80%;
}

#sns {
	width: 100%;
	/*height: 100px;*/
	color: gray;
	margin-bottom: 150px;
	font-size: 14px;
}
.sns-image {
	overflow: hidden;
	margin-top: 40px;
}
#sns a img {
	width:17px;
	height:17px;
	margin-right: 20px;
}

#copyright {
	width:100%;
	color: gray;
	font-size: 13px;
	position: absolute;
	bottom:0;
	padding-bottom: 10px;
	padding-top: 30px;
	border: solid 1px #ffffff;
  	border-top-color: #ddd;
}


/*
		index.html Content
*/
.content {
	width: calc(100% - 240px);
	height: 100vh;
	float: left;
	position: relative;
	left:240px;
	transition: 0.5s;
}

#one {
	width:100%;
	height: 100%;
	background: url("../img/top-image_1.jpg") no-repeat fixed 50% 50%;
	background-size: cover;
}
#two {
	width:100%;
	height: 100%;
	background: url("../img/top-image_2.jpg") no-repeat fixed 50% 50%;
	background-size: cover;
}
#three {
	width:100%;
	height: 100%;
	background: url("../img/top-image_3.png") no-repeat fixed 50% 50%;
	background-size: cover;
}
#one, #two, #three {
	padding-top: 150px;
}
.scroll-arrow-up {
	/*position: absolute;*/
	width: 50px;
	display: block;
	margin: 0 auto 0 auto;
	cursor: pointer;
}
.scroll-arrow-down {
	display: block;
	margin: 0 auto;
	margin-top: 25px;
	width: 50px;
	/*top: 450px;
	left: 490px;*/
	cursor: pointer;
}

.index-description-area {
	width: 70%;
	height: 500px;
	position: relative;
	/*top: 150px;
	left: 150px;*/
	margin: 0 auto;
	color: white;
	padding: 10px;
	line-height: 2em;
	background-color: rgba(0, 0, 0, 0.8);
}
.index-description {
	width: 30%;
	height: 70%;
	float: left;
	color: white;
	margin: 0 auto;
	margin-top: 100px;
	padding: 5px;
	font-size: 18px;
	background-color: rgba(0, 0, 0,0.85);
}



/*
		Profile.html
*/
.profile-content {
  width: 70%;
  margin: 60px auto;
}

.title-1 {
  font-size: 35px;
  border: solid 1px white;
  border-bottom-color: rgba(189, 189, 189, 0.67);
  padding-bottom: 5px;
}
.title-2 {
	font-size: 22px;
	margin-bottom: 3px;
	color: gray;
}
.profile-top {
	display: block;
	margin: 50px auto 30px auto;
}
.profile-image {
	width: 200px;
}

.brief-profile {
	padding-top: 15px;
}
.brief-profile-title {
	color: gray;
	font-weight: normal;;
	margin-right: 8px;
}
.brief-profile-content {
	font-weight: bold;
}

.entry-A {
	padding: 15px;
	background-color: rgba(234, 234, 234, 0.67);
	margin-bottom: 20px;
}
.entry-B {
	padding: 15px;
	margin-bottom: 20px;
}
.details {
	font-size: 13px;
}
ul {
	list-style-type: none;
	padding-left: 0;
}
li{
	margin-bottom: 1.2em;
	overflow: hidden;
}
li div {
	overflow: hidden;
}

/*Education part*/
.school-name {
	font-weight: bold;
}
.school-area, .school-date {
	font-style: italic;
}
.school-name .school-degree{
	float: left;
}
.school-area, .school-date {
	float: right;
}
.school-degree, .school-date, .school-prof {
	font-weight:lighter;
}

/*Publication part*/
.paper-name {
	font-weight: bold;
}
.paper-author {
	float:left;
	font-style: italic;
}
.paper-conference {
	float: right;
}

/*Research Project part*/
.project-name {
	font-weight: bold;
	float: left;
}
.project-date {
	float: right;
}
.project-super {
	font-style: italic;
}

/*Exhibition part*/
.exhibition-name {
	font-weight: bold;
	float: left;
}
.exhibition-area {
	font-weight: bold;
	float: right;
}
.exhibition-keyword {
	font-style: italic;
}
.exhibition-date {
	float: right;
}

/*Honor and Award Part*/
.honor-super {
	font-weight: bold;
}
.honor-area {
	float: right;
	font-weight: bold;
}
.honor-title {
	font-style: italic;
}
.honor-date {
	float: right;
}






/*
	Portfolio part
*/

.portfolio-content {
	width: 80%;
	margin: 60px auto;
}
.portfolio-top {
	margin-top: 50px;
}
.portfolio-content span {
	font-weight: 200 !important;
	color: #595957;
}
.project {
	min-height:400px;
	position: relative;
}
#project-info h5{
	text-align: center;
}
.project-body {
	/*min-height: 130px;*/
}
.project-body button {
	position: absolute;
	bottom: 5px;
	right: 5px;
}
.modal-body {
	overflow: auto;
}


/*
	SELF-STUDY.html
*/
.selst-content {
  width: 80%;
  margin: 60px auto;
}


/*
	Responsive display
*/

@media screen and (max-width: 1920px) {


	/*portfolio.html*/
	.project {
		min-height:450px;
		position: relative;
	}
}
@media screen and (max-width: 1600px){
	/*portfolio.html*/
	.project {
		min-height:420px;
		position: relative;
	}
}
@media screen and (max-width: 1200px) {

	
	/*portfolio.html*/
	.project {
		min-height:400px;
		position: relative;
	}
}

@media screen and (max-width: 992px) {
	/*total-frame*/
	.content {
		left: 0;
		width: 100%;
	}
	.side-bar {
		left: -500px;
		transition: 0.5s;
	}
	.mini-side-bar {
		color: white;
		display: block;
		position: fixed;
		top: 0;
		left: 0;
		background-color: black;
		width: 100%;
		height: 50px;
		margin: 0;
		z-index: 100;
	}
	#menu-icon {
		position: fixed;
		display: block;
		float: left;
		top: 1%;
		left: 0;
		/*z-index: 1000;*/
	}

	.content.side-bar-in {
		left: 240px;
		width: 100%;
		transition: 0.5s;
	}
	.side-bar.side-bar-in {
		left: 0px;
		transition: 0.5s;
	}

	/*index.html*/
	#one, #two, #three{
		padding-top: 30%;
	}
	.index-description-area {
		width: 80%;
	}
	.index-description-area h2{
		font-size: 14px;
	}
	.index-description-area p{
		font-size: 12px;
	}

	/*profile.html*/
	.profile-content {
		width: 90%;
	}
	.profile-top {
		width: 100%;
		height: 400px;
		display: block;
		margin: 50px auto 70px auto;
	}

	/*portfolio.html*/
	.project {
		min-height:500px;
		position: relative;
	}	

}

@media screen and (max-width: 400px) {
	.project {
		min-height:300px;
		position: relative;
	}
}
