*{
	-webkit-box-sizing: border-box;
     -moz-box-sizing: border-box;
          box-sizing: border-box;
}

body{
	font-family: 'Lato', sans-serif;
	color: #777777;
	font-weight: 300;
}

#container{
	margin-top:10px;
}

.text-muted{
	color: #929090;
}

.text-thin{
	font-weight: 100;
}

.top-content{
	margin-bottom: 5px;
}

#logo{
	padding-top: 15px;
}

#top-image{
	border-top: 5px solid #ddd;
	padding-top: 15px;
	margin-bottom: 40px;
}

.link-project{
	color: #337ab7;
}

#title_project{
	margin-bottom: 10px;
	padding-bottom: 10px;
	border-bottom: 2px solid #ddd;
}

.project{
	margin-bottom:50px;
	box-shadow: 5px 5px 5px #eae9eb;
	border: 2px solid #eae9eb;
	padding: 2px 0 0 0;
}

.project-image{
	width: 100%;
}

footer{
	margin-top: 5px;
	border-top: 1px solid #ddd;;
}

[class*="zocial-"]:before {
  color: black;
  display: inline-block;
  font-family: 'zocial', sans-serif;
  text-shadow: 3px 3px 3px #aaa;
  width: 2em;
}

div#social a {
  margin: 0 1em 0 0;
}

div#social a:last-of-type {
  margin: 0;
}

div#social {
  line-height: 2em;
}

@media screen and (max-width: 990px){
	.top-content{
		display: flex;
	}
	.top-content div{
		width: 50%;
	}
}

@media screen and (max-width: 700px){
	.top-content{
		display: flex;
	}
	#logo{
		width: 30%;
	}
	#name_role{
		width: 70%;
	}
}

@media screen and (max-width: 600px){
	.top-content{
		display: flex;
	}
	.top-content div h1{
		font-size: 29px;
	}
	.top-content div h3{
		font-size: 20px;
	}
	#logo{
		width: 30%;
	}
	#name_role{
		width: 70%;
	}
}

@media screen and (max-width: 420px){
	.top-content{
		display: flex;
	}
	.top-content div h1{
		font-size: 25px;
	}
	.top-content div h3{
		font-size: 16px;
	}
	#logo{
		width: 30%;
	}
	#name_role{
		width: 70%;
	}
}